.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  background-color: steelblue;

}

#Page-Body {
  background-color: #DDEEFF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#Page-Content {
  min-width: 50vw;
  flex-shrink: 0;
  max-width: 600px;
}

.canon {
  background-color: #F8F8F8;
  padding-bottom: 0;
}
.addendum {
  /* background-color: #F8F8F8; */
  color: #AAAAAA;
  padding-bottom: 0;
  text-align: right;
}